 [Unit]
 Description=GoProxi proximity sensing

 [Service]
 Type=idle
 ExecStart=/opt/goproxi/goproxi
 ExecStop=/opt/goproxi/update
 Restart=always

 [Install]
 WantedBy=multi-user.target
