[Unit]
Description=Webstrates Server

[Service]
WorkingDirectory=/opt/Webstrates
ExecStart=/usr/bin/nodejs webstrates.js
Restart=always

[Install]
WantedBy=multi-user.target
