{{define "head"}}
<html>
<head>
	<title>GoProxi Configuration</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <link href="css/config.css" rel="stylesheet" type="text/css"> -->
    <link href="public/css/config.css" rel="stylesheet" type="text/css">
    <!--<link href="config.css" rel="stylesheet" type="text/css"> -->
    <script src="public/js/goproxi.js"></script>
</head>
<body>
	<div id="header">
		<div id="icon">
			<div class="b1"></div>
			<div class="b2"></div>
			<div class="b3"></div>
		</div>
		<h1>GOPROXI: {{.Title}}</h1>
	</div>
	<div id="content">
	<div id="menu">
        <div>Config</div>
		<div>Calibrate</div>
		<div>Explore</div>
	    <div>Logs</div>
        <div>About</div>
        <div id="reboot">Reboot</div>
	</div>
	
    <script>

        icon.onclick = function() {
            icon.classList.toggle("change");
            menu.classList.toggle("change");
        }	


        document.querySelector("#menu").onclick = function(e) {
            if(e.target.id != "reboot" && e.target.id != "menu"){
                icon.click()
                document.querySelector('#header h1').innerHTML = 'GOPROXI: ' + e.target.innerHTML.toUpperCase()
				
                setTimeout(function(){
                    location.href = e.target.innerHTML.toLowerCase()
                }, 200)
            } else if (e.target.id == "reboot"){
		var c = confirm("Do you want to reboot the GoProxi now?")
		if(c){
			sendData({action:"reboot"})
			location.href = "/reboot"
		}
            }
        }

		function sendData(jsonData){
			console.log("sending data to server")
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/data", true);
			xhr.setRequestHeader("Content-type", "application/json");

			var data = JSON.stringify(jsonData);
			xhr.send(data);
		}

    </script>
{{end}}

{{define "foot"}}
</div>
</body>
</html>
{{end}}
