html,
body {
    font-family: "robot", sans-serif;
    background: #f1f4f5;
    
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* CSS FOR BASE TEMPLATE */

@media (min-device-width: 1200px) {
    #header {
        width: 100%;
        height: 70px;
        user-select: none;
        background: #e25d33;
        text-align: center;
    }
    #header h1 {
        height: 100%;
        color: #f1f4f5;
        margin: 0 300px;
        width: 75%;
        max-width: 1200px;
        text-align: left;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 100%;
        padding: 25px;
    }
    #content #menu {
        text-align: center;
        position: absolute;
        padding-top:10px;
        top: 70px;
        left: 0px;
        background: #2b323a;
        width: 300px;
        height: 140%;
        margin: 0 auto;
    }
    #content .pane {
        position: absolute;
        top: 70px;
        left: 300px;
        padding:20px;
        width: 75%;
        max-width: 1200px;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    #content #menu div {
        display:block;
        width:200px;
        color:#2b323a;
        font-size:120%;
        background:#f1f4f5;
        padding:10px;
        margin: 10px auto;
        cursor:pointer;
        user-select:none;
        text-decoration: none;
    }
    
    #content #menu div:active {
        text-decoration: none;
    }
    
    #content #menu div:hover {
        text-decoration: none;
        color:#e25d33;
    }
    
    #content #menu a#reboot {
        background:#e25d33;
        color:#f1f4f5;
    }
    
    #content #menu a#reboot:hover {
        color:#2b323a;
    }
}

@media (max-device-width: 1200px) {
    #header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        user-select: none;
        z-index: 2;
    }
    #header h1 {
        height: 100%;
        color: #f1f4f5;
        margin: 0px;
        margin-left: 70px;
        background: #e25d33;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 100%;
        padding: 25px;
        transition: 0.4s;
    }
    #header #icon {
        background: #2b323a;
        float: left;
        height: 100%;
        width: 72px;
        color: #f1f4f5;
        transition: 0.4s;
        cursor: pointer;
        box-sizing: border-box;
        padding: 10px;
    }
    #header #icon.change {
        width: 200px;
    }
    #header #icon.change+h1 {
        margin-left: 200px;
    }
    #header #icon .b1,
    .b2,
    .b3 {
        width: 50px;
        height: 7px;
        background-color: #f1f4f5;
        margin: 7px 0;
        transition: 0.4s;
    }
    #header #icon.change * {
        margin-left: 130px;
    }
    #header #icon.change .b1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    #header #icon.change .b2 {
        opacity: 0;
    }
    #header #icon.change .b3 {
        -webkit-transform: rotate(45deg) translate(-12px, -12px);
        transform: rotate(45deg) translate(-12px, -12px);
    }

    #content {
        position:absolute;
        top:70px;
        left:0px;
        height: 100%;
        width:100%;
        overflow-x:hidden;
    }
    
    #content #menu {
        position:fixed;
        background:#2b323a;
    
        width:0px;
        height:100%;
        transition: 0.4s;
    }
    
    #content #menu.change {
        width:200px;
    }

    #content #menu.change ~ .pane {
        margin-left:220px;
    }
    
    #content .pane {
        box-sizing: border-box;
        display:block;
        padding:20px;
        width:100%;
        transition: 0.4s;
    }
    
    #content #menu div {
        display:block;
        position:relative;
        left:-200px;
        width:120px;
        transition: 0.4s;
        color:#2b323a;
        font-size:120%;
        background:#f1f4f5;
        padding:10px;
        margin:18px;
        margin-left:30px;
        margin-top:10px;
        opacity:0;
        cursor:pointer;
        user-select:none;
        text-decoration: none;
    }
    
    #content #menu div:active {
        text-decoration: none;
    }
    
    #content #menu div:hover {
        text-decoration: none;
        color:#e25d33;
    }
    
    #content #menu.change div {
        text-decoration: none;
        left:0px;
        opacity:1;
    }
    
    #content #menu a#reboot {
        background:#e25d33;
        color:#f1f4f5;
    }
    
    #content #menu a#reboot:hover {
        color:#2b323a;
    }
}

/* CSS FOR CONFIGURATION TEMPLATE */

.section {
    width:100%;
    border-bottom:1px dashed #cccccc;
}

.pane #rebooting {
	display:none;
	color:red;
	font-weight:bold;
	text-decoration: underline;
}

.pane #rebooting.active {
	display:inline-block;
}

.pane#config .button.save {
	display:none;
}

.pane#config .button.save.active {
	display:inline-block;
}

.button {
    text-align: center;
    background:#e25d33;
    color:#f1f4f5;
    padding:5px 10px;
    display:inline-block;
    cursor:pointer;
    user-select:none;
    margin: 10px 5px; 
}
.setting input[type=text] {
    display:inline-block;
    width: 90%;
    max-width: 400px;
    padding:5px;
    margin-bottom: 10px;
	font-size:16px;
}

.setting .content, .setting .tooltip {
    vertical-align: top;
    display:inline-block;
	width:100%;
    margin-bottom: 10px;
}

/* CSS FOR THE CALIBRATE PAGE */

.step {
    width:100%;
    text-align:center;
}

.step.hide {
    display:none;
}

.step p {
    text-align:left;
}
.step .button {
    padding:10px;
    width:200px;
    margin:0px auto;
}

.step .button.next {
    display:none;
    background:#249f60;   
}

.step .button.progress {
    background: linear-gradient(to left,  #e25d33 50%,  #249f60 50%);
    background-size: 200% 100%;
    background-position:right bottom;
     -webkit-transition: all 20s; /* Safari */
    transition: all 20s;
}

/* CSS FOR THE explore PAGE */

.pane #explore {
    margin:0px auto;
    text-align: center;
}

#explore table,#explore th,#explore td {
    user-select:none;
    border: 1px solid #2b323a;
    color:#2b323a;
    border-collapse: collapse;
    text-align:left;
    padding:10px;
    cursor:arrow;
}
#explore tr > td:hover {
    background:#cccccc;
}

#explore td:first-child:hover {
    background:transparent;
}

#explore td.selected {
    background: #00e66f;
}

#explore td.selected:hover {
    background: #00e66f;
}
#explore #canvas, #explore #this  {
    display:inline-block;
}

#explore #this {
    margin-top:10px;
    border:none;
}

