body,
html {
    overflow: hidden;
    margin: 20px 110px;
    font-family: Verdana, Helvetica, sans-serif;
}

#locations .location {
    position: relative;
    display:inline-block;
    padding:10px;
    margin:5px;
    text-align: center;
    background: #e25d33;
    color:white;
    width:250px;
}

#locations .location span {
    position:absolute;
    top:10px;
    right:10px;
    color:white;
    display: inline-block;
    opacity: 0.5;
    font-size:70%;
}

h3, h4 {
    margin:10px 0px 10px 0px;
}

#locations .location a  {
    font-size:70%;
    display: inline-block;
    margin: 5px;
    color:white;
}

#locations .location.server {
    background: #be3e15;
}

#locations .location a:hove, #locations .location a:active, #locations .location a:visited {
    color:white;
}

#devices .device {
    position: relative;
    background: #249f60;
    display:inline-block;
    padding:10px;
    margin:5px;
    color:white;
    min-width: 200px;   
}

#devices .device.self {
    background: #0f8649;
}

#devices table {
    border-collapse: collapse;
    margin-left:2px auto;
    color:white;
    font-size: 80%;
}

#devices .device div {
    font-size: 80%;
    padding:2px;
}

#devices .device .ping {
    padding:2px;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: arrow;
    user-select: none;
    border:1px solid white;
    font-size:90%;
}

#devices table, #devices th, #devices td {
    border: 1px solid white;
 }

 #devices table td, #devices table th {
     text-align: center;
     padding:2px 5px;
 }